.user-acess {
    text-align: center;
    display: none;
    padding: 15%;
    p {
        padding: 0;
        font-size: 28px;
        color: #555;
        font-weight: bold;
    }
    &.acess-denied {
        display:block;
    }
}
