<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="user-acess" [ngClass]="acessDenied" >
                <p>Access denied!! Please contact your PMO </p>
            </div>
        </div>
    </div>
</div>
