<div class="dialog-box-inner">
  <div class="dialog-box-header">
    <h1 mat-dialog-title>{{action}} Role</h1>
  </div>
  <div class="dialog-box-body">
    <div mat-dialog-content>
      <div *ngIf="action != 'Delete'; else elseTemplate">
        <form [formGroup]="addForm" (ngSubmit)="onFormSubmit(addForm.value)">
          <p>
            <mat-form-field class="example-full-width">  
              <input formControlName="roleName" matInput placeholder="Role Name*">  
            </mat-form-field>
            <mat-error>  
              <span *ngIf="!addForm.get('roleName').valid && addForm.get('roleName').touched">Please enter Role Name !!!</span>  
          </mat-error>    
          </p>
          <p>
            <mat-form-field class="example-full-width">  
              <input formControlName="roles_Resp" matInput placeholder="Roles and Resp*">  
            </mat-form-field>  
            <mat-error>  
                <span *ngIf="!addForm.get('roles_Resp').valid && addForm.get('roles_Resp').touched">Please enter Roles and Resp !!!</span>  
            </mat-error>  
          </p>
          <label id="example-radio-group-label">Status*</label>
          <mat-radio-group aria-labelledby="hub-radio-group-label" color="primary" class="md-primary example-radio-group" formControlName="status">
            <mat-radio-button class="hub-radio-button" *ngFor="let Status of activeStatus" [value]="Status" >
                {{Status}}
            </mat-radio-button>
        </mat-radio-group>
      </form>   
        <!-- <p>
          <mat-form-field class="example-full-width" >
            <input placeholder="Role Name" matInput [(ngModel)]="local_data.roleName">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width" >
            <input placeholder="Roles and Resp" matInput [(ngModel)]="local_data.roles_Resp">
          </mat-form-field>
        </p>     
        <p>
          <label id="example-radio-group-label">Status</label>
          <mat-radio-group aria-labelledby="hub-radio-group-label" color="primary" class="md-primary example-radio-group" [(ngModel)]="local_data.status">
            <mat-radio-button class="hub-radio-button" *ngFor="let Status of activeStatus" [value]="Status" >
                {{Status}}
            </mat-radio-button>
          </mat-radio-group>
        </p> -->
      </div>
      <ng-template #elseTemplate>
        Sure to delete <b>{{local_data.roleID}}</b>?
      </ng-template>
    </div>
  </div>
  <div class="dialog-box-footer">
      <button mat-button (click)="doAction()"  mat-flat-button color="primary" [disabled]="!addForm.valid">{{action}}</button>
      <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
      <div class="required-display-message" *ngIf="action != 'Delete'">
        <p class="mesg"><span>*</span> Mandatory</p>
      </div>
  </div>
</div>


