<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="p-grid-main p-grid-users">
                    <p-table #dt [value]="dataSource" [columns]="cols" [rows]="10" scrollHeight="400px" class="p-grid" [scrollable]="true" [loading]="loading"
                    [paginator]="true"  [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" >
                        <ng-template pTemplate="caption" let-columns>
                            <div class="p-grid-search clearfix">
                                <div class="p-grid-search-inner  float-left">
                                    <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                                    <input type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                                </div>
                                <div class="grid-search-btn float-right">                                    
                                    <button mat-raised-button class="mat-primary btn-sm mat-button-ripple" (click)="openDialog('Add',{})">Add User</button>
                                    <!-- <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" [matMenuTriggerFor]="menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="Add(dt)">Add</button>
                                        <button mat-menu-item (click)="Remove(selectedKpiResult)">Remove</button>
                                    </mat-menu>-->
                                </div>                                
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns >
                            <tr>
                                <th style="width: 3em">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngClass]="col.field">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                </th>
                            </tr>
                            <tr class="filter-grid">
                                <th style="width: 3em">
                                </th>
                                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                                    <input pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                                    <!-- <div *ngSwitchCase="'year'">
                                        Value > {{yearFilter}}
                                        <i class="pi pi-times" (click)="yearFilter=null;dt.filter(null, col.field, col.filterMatchMode)" style="cursor:pointer" *ngIf="yearFilter"></i>
                                        <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="yearFilter" [min]="1970" [max]="2010" (onChange)="onYearChange($event, dt)"></p-slider>
                                    </div> -->
                                    <!-- <p-dropdown *ngSwitchCase="'brand'" [options]="brands" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
                                    <p-multiSelect *ngSwitchCase="'color'" [options]="colors" defaultLabel="All Colors" (onChange)="dt.filter($event.value, col.field, 'in')"></p-multiSelect>
                                    <input *ngSwitchCase="'price'" pInputText type="text" placeholder="Custom - Greater Than" (input)="dt.filter($event.target.value, col.field, 'custom')"> -->
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                            <tr>
                                <td style="width: 3em">
                                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                                </td>
                                <td class="userID" style="display: none;">
                                    <span class="cont-output">{{rowData.userID || ''}}</span>
                                </td>
                                <td class="userName">
                                    <span class="cont-output">{{rowData.userName || ''}}</span>
                                </td>
                                <td class="userRoleName">
                                    <span class="cont-output">{{rowData.userRoleName || ''}}</span>
                                </td>
                                <td class="userEmailId">
                                    <span class="cont-output">{{rowData.userEmailId || ''}}</span>
                                </td>
                                <td class="hubName">
                                    <span class="cont-output">{{rowData.hubName || ''}}</span>
                                </td>
                                <td class="status">
                                    <span class="cont-output">{{rowData.status || ''}}</span>
                                </td>
                                <td class="action">
                                    <div class="action-link">
                                        <button (click)="openDialog('Update',rowData)" class="hub-button-edit" mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button (click)="openDialog('Delete',rowData)" class="hub-button-delete" mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
                                            <mat-icon>delete</mat-icon>
                                        </button>	
                                    </div>                                    
                                </td>                                 
                            </tr>
                        </ng-template>
                    </p-table>
                </div>     
            </div>
        </div>
    </div>    
</div>