<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="funnel-display-form clearfix">
                    <button pButton type="submit" class="ui-button-raised excel-download" (click)="exportExcel()" [hidden]="showExportExcel"><i class="fa fa-file-excel-o" aria-hidden="true"></i>Download Excel</button>
                    <form [formGroup]="addForm" (ngSubmit)="onFormSubmit(addForm.value)">
                        <div  class="form-details" style="display: none;">
                            <label class="emp-label">Please enter Employee ID</label>
                        </div>
                        
                        <!-- <button mat-raised-button class="mat-primary btn-sm mat-button-ripple" (click)="exportExcel()">Download</button> -->
                        <div class="form-details">
                            <p class="input-data">
                                <input pInputText type="text" formControlName="employee_ID" placeholder="Employee ID">     
                            </p>
                            <p-message severity="error" style="display: none;" text="Please enter Employee ID !!!" *ngIf="submitted && !addForm.controls['employee_ID'].valid && addForm.controls['employee_ID'].dirty"></p-message>
                        </div>                        
                        <div  class="form-details form-btn">
                            <button pButton type="submit" [disabled]="!addForm.valid" class="ui-button-raised">Search</button>
                        </div>
                    </form>   
                </div>
                <div class="p-grid-main p-grid-employee">
                    <p-table #dt1 [value]="employeeResult" [columns]="employeeCols" [rows]="10" class="p-grid" [scrollable]="true" scrollHeight="400px" [style]="{width:'100%'}" [loading]="loading"
                    [paginator]="true"  [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" >
                        <ng-template pTemplate="caption" let-columns>
                            <div class="p-grid-search clearfix">
                                <h4 class="funnel-heading float-left">Employee History</h4>
                                <div class="p-grid-search-inner  float-right">
                                    <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                                    <input type="text" pInputText size="50" placeholder="Search" (input)="dt1.filterGlobal($event.target.value, 'contains')" style="width:auto">
                                </div>                           
                            </div>
                        </ng-template>
                        <ng-template pTemplate="colgroup" let-columns>
                            <colgroup>
                                <col style="width:110px"> <!--Employee ID-->
                                <col style="width:100px"> <!--Report Year/Month -->
                                <col style="width:220px"> <!--Function -->
                                <col style="width:250px"> <!--Job Family Group -->
                                <col style="width:220px"> <!--Job Family -->
                                <col style="width:220px"> <!--Job Profile -->
                                <col style="width:220px"> <!--Job Title -->
                                <col style="width:170px"> <!--Location Address - Country -->
                                <col style="width:110px"> <!--Location Address - City -->
                                <col style="width:180px"> <!--Location -->
                                <col style="width:180px"> <!--CF_Location Hierarchy Geographical -->                                
                                <col style="width:270px"> <!--SO Name -->
                                <col style="width:290px"> <!--SO Level 2 -->
                                <col style="width:290px"> <!--SO Level 3 -->
                                <col style="width:290px"> <!--SO Level 4 -->
                                <col style="width:120px"> <!--Compensation Grade -->
                                <col style="width:110px"> <!--Cost Center - ID -->
                                <col style="width:180px"> <!--Cost Center - Name -->
                                <!--<col style="width:110px"> Age Group -->
                                <!--<col style="width:110px"> Tenure Category - Position -->
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns >
                            <tr>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngClass]="col.field" [title]="col.header">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                </th>
                            </tr>
                            <!--<tr class="filter-grid">
                                <th style="width: 3em">
                                </th>
                                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                                    <input pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                                     <div *ngSwitchCase="'year'">
                                        Value > {{yearFilter}}
                                        <i class="pi pi-times" (click)="yearFilter=null;dt.filter(null, col.field, col.filterMatchMode)" style="cursor:pointer" *ngIf="yearFilter"></i>
                                        <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="yearFilter" [min]="1970" [max]="2010" (onChange)="onYearChange($event, dt)"></p-slider>
                                    </div> -->
                                    <!-- <p-dropdown *ngSwitchCase="'brand'" [options]="brands" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
                                    <p-multiSelect *ngSwitchCase="'color'" [options]="colors" defaultLabel="All Colors" (onChange)="dt.filter($event.value, col.field, 'in')"></p-multiSelect>
                                    <input *ngSwitchCase="'price'" pInputText type="text" placeholder="Custom - Greater Than" (input)="dt.filter($event.target.value, col.field, 'custom')"> 
                                </th>
                            </tr>-->
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                            <tr>
                                <td class="employee_ID">
                                    <span class="cont-output" [title]="rowData.employee_ID || ''">{{rowData.employee_ID || ''}}</span>
                                </td>                                
                                <td class="report_Date">
                                    <span class="cont-output" [title]="rowData.report_Date || ''">{{rowData.report_Date || ''}}</span>
                                </td>
                                <td class="function_Details">
                                    <span class="cont-output" [title]="rowData.function_Details || ''">{{rowData.function_Details || ''}}</span>
                                </td>
                                <td class="job_Family_Group">
                                    <span class="cont-output" [title]="rowData.job_Family_Group || ''">{{rowData.job_Family_Group || ''}}</span>
                                </td>
                                <td class="job_Family">
                                    <span class="cont-output" [title]="rowData.job_Family || ''">{{rowData.job_Family || ''}}</span>
                                </td>
                                <td class="job_Profile">
                                    <span class="cont-output" [title]="rowData.job_Profile || ''">{{rowData.job_Profile || ''}}</span>
                                </td>
                                <td class="job_Title">
                                    <span class="cont-output" [title]="rowData.job_Title || ''">{{rowData.job_Title || ''}}</span>
                                </td>
                                <td class="location_Address_Country">
                                    <span class="cont-output" [title]="rowData.location_Address_Country || ''">{{rowData.location_Address_Country || ''}}</span>
                                </td>
                                <td class="location_Address_City">
                                    <span class="cont-output" [title]="rowData.location_Address_City || ''">{{rowData.location_Address_City || ''}}</span>
                                </td>                                
                                <td class="location">
                                    <span class="cont-output" [title]="rowData.location || ''">{{rowData.location || ''}}</span>
                                </td>
                                <td class="cF_Location_Hierarchy_Geographical">
                                    <span class="cont-output" [title]="rowData.cF_Location_Hierarchy_Geographical || ''">{{rowData.cF_Location_Hierarchy_Geographical || ''}}</span>
                                </td>                                
                                <td class="sO_Name">
                                    <span class="cont-output" [title]="rowData.sO_Name || ''">{{rowData.sO_Name || ''}}</span>
                                </td>
                                <td class="sO_Level_Two">
                                    <span class="cont-output" [title]="rowData.sO_Level_Two || ''">{{rowData.sO_Level_Two || ''}}</span>
                                </td>
                                <td class="sO_Level_Three">
                                    <span class="cont-output" [title]="rowData.sO_Level_Three || ''">{{rowData.sO_Level_Three || ''}}</span>
                                </td>
                                <td class="sO_Level_Four">
                                    <span class="cont-output" [title]="rowData.sO_Level_Four || ''">{{rowData.sO_Level_Four || ''}}</span>
                                </td>
                                <td class="compensation_Grade">
                                    <span class="cont-output" [title]="rowData.compensation_Grade || ''">{{rowData.compensation_Grade || ''}}</span>
                                </td>
                                <td class="cost_Center_ID">
                                    <span class="cont-output" [title]="rowData.cost_Center_ID || ''">{{rowData.cost_Center_ID || ''}}</span>
                                </td>
                                <td class="cost_Center_Name">
                                    <span class="cont-output" [title]="rowData.cost_Center_Name || ''">{{rowData.cost_Center_Name || ''}}</span>
                                </td>                 
                            </tr>
                        </ng-template>
                    </p-table>
                    <!-- <div *ngIf="employeeResult.length==0">
                        No values to display here
                    </div> -->
                </div>
                <div class="p-grid-main p-grid-scoping">
                    <p-table #dt2 [value]="scopingResult" [columns]="scopingCols" scrollHeight="400px" [rows]="10" class="p-grid" [scrollable]="true" [loading]="loading"
                    [paginator]="true"  [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" >
                        <ng-template pTemplate="caption" let-columns>
                            <div class="p-grid-search clearfix">
                                <h4 class="funnel-heading float-left">Scoping History</h4>
                                <div class="p-grid-search-inner  float-right">
                                    <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                                    <input type="text" pInputText size="50" placeholder="Search" (input)="dt2.filterGlobal($event.target.value, 'contains')" style="width:auto">
                                </div>                           
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns >
                            <tr>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngClass]="col.field" [title]="col.header">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                            <tr>
                                <td class="employee_ID">
                                    <span class="cont-output" [title]="rowData.employee_ID || ''">{{rowData.employee_ID || ''}}</span>
                                </td>
                                <td class="stage">
                                    <span class="cont-output" [title]="rowData.stage || ''">{{rowData.stage || ''}}</span>
                                </td>
                                <td class="status">
                                    <span class="cont-output" [title]="rowData.status || ''">{{rowData.status || ''}}</span>
                                </td>
                                <td class="file_Details">
                                    <span class="cont-output" [title]="rowData.file_Details || ''">{{rowData.file_Details || ''}}</span>
                                </td>                                
                                <td class="date">
                                    <span class="cont-output" [title]="rowData.date | date">{{rowData.date | date}}</span>
                                </td>                                
                                <td class="remarks">
                                    <span class="cont-output" [title]="rowData.remarks || ''">{{rowData.remarks || ''}}</span>
                                </td>      
                                <!-- <td class="transition_Wave_Code">
                                    <span class="cont-output" [title]="rowData.transition_Wave_Code || ''">{{rowData.transition_Wave_Code || ''}}</span>
                                </td> -->
                                <td class="transition_Journey_Code">
                                    <span class="cont-output" [title]="rowData.transition_Journey_Code || ''">{{rowData.transition_Journey_Code || ''}}</span>
                                </td>              
                            </tr>
                        </ng-template>
                    </p-table>
                </div>      
            </div> 
        </div>
    </div>
</div>