.funnel-display-form {
    background-color: #fff;
    padding: 12px 20px 11px;
    text-align: right;
    position: fixed;
    top: 0;
    right: 48px;
    z-index: 999;
    .form-details {
        display: inline-block;
        margin-left: 15px;
        p {
            margin: 0;
        }
        &.form-btn {
            .ui-button-raised {
                padding: 6px 18px 8px;
                span {
                    display: none;
                }                
            }
            .ui-button-text {
                display: none;
            }
        }
    }
    .excel-download {
        float: left;
        padding: 7px 15px;
        i {
            margin-right: 5px;
        }
    }
    form {
        float: left;
    }
}
.funnel-heading {
    font-size: 16px;
    padding: 3px 0;
    margin: 0;
    font-weight: bold;
    margin-left: -5px;
    color: #555;
}