@import (css) url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
@import (css) url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import (css) url(~@angular/material/prebuilt-themes/indigo-pink.css);


body {
    //font-family: 'Poppins', sans-serif;
    background: #fafafa;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #373c45;
    &::-webkit-scrollbar
    {
        width: 6px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb
    {
        background-color: #555;
    }
}
.mat-progress-bar{
    position: fixed !important;
    top: 0px;
    z-index: 99999;
}
table {
    width: 100%;
}
.example-full-width {
    width: 100%;
}
#example-radio-group-label {
    display: block;
}
.mat-dialog-content {
    &::-webkit-scrollbar
    {
        width: 6px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb
    {
        background-color: #555;
    }
}
.mat-drawer-inner-container {
    &::-webkit-scrollbar
    {
        width: 6px;
        background-color: #003859;
    }
    &::-webkit-scrollbar-thumb
    {
        background-color: #fff;
    }
}

button{
    &.btn{
        &.btn-primary {
            color: #0061f2;
            background-color: #fff;
            border-color: #0061f2;
            border-radius: 0;
            &:hover {
                color: #fff;
                background-color: #0061f2;
                border-color: #0061f2;
            }
        }
        &.btn-secondary {
            border-radius: 0;
            background-color: #fff;
            color: #6c757d;
            &:hover {
                background-color: #6c757d;
                color: #fff;
                border-color: #6c757d;
            }
        }
    }
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
.wrapper, body, html {
  height: 100%
}
.wrapper {
    &.collapsed {
        .main-header {
            .navbar {
                transition: transform .4s cubic-bezier(.25,.8,.25,1);
                transform: translate3d(0,0,0);
                margin-left: 0;
                transition: margin-left 0.3s ease-in-out;
            }
        }
        .content-wrapper, .main-footer {
            margin-left: 0;
            transition: margin-left 0.3s ease-in-out;
        }
    }
}
.skin-blue {
    .wrapper,.main-sidebar {
        background-color: #00598E;
    }
    .main-header {
        .navbar {
            background-color: #fff;
            box-shadow: 1px 1px 1px rgba(0,0,0,.1);
            transition: transform .4s cubic-bezier(.25,.8,.25,1);
            transform: translate3d(0, 0, 0);
            .nav {
                &> li {
                    &> a{
                        &:hover{
                            background: #00598E;
                            color: #fff;
                        }
                    }
                }
            }
        }
        .logo {
            background-color: #00598E;
            color: #fff;
            /* border-bottom: 1px solid #3d434d; */
            text-decoration: none;
            transition: transform .4s cubic-bezier(.25,.8,.25,1);
            transform: translate3d(0, 0, 0);
            &.collapsed {
                transition: transform .4s cubic-bezier(.25,.8,.25,1);
                transform: translate3d(-100%,0,0);
                display: none;
            }
        }
    }
}
.main-header { 
    position: fixed;
    max-height: 120px;
    z-index: 103;
    left: 0;
    right: 0;
    .logo {
        -webkit-transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
        display: block;
        float: left;
        height: 60px;
        font-size: 20px;
        line-height: 60px;
        text-align: left;
        width: 230px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding: 0 15px;
        font-weight: 300;
    }
    .navbar {
        -webkit-transition: margin-left .3s ease-in-out;
        transition: margin-left 0.3s ease-in-out;
        margin-bottom: 0;
        margin-left: 230px;
        border: none;
        min-height: 60px;
        border-radius: 0;
        padding: 0;
    }
    .navbar-custom-menu,.navbar-right {
        float: right;
    }
}
.DigitalPR_logo{
    display: inline-block;  
    .toggle-button {
        float: left;
        margin: 17px 10px;
        cursor: pointer;
    }  
    .DigitalPR_logo_inner {
        color: #555;
        -webkit-transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
        display: block;
        float: left;
        height: 60px;
        font-size: 20px;
        line-height: 60px;
        text-align: left;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 300;
        text-decoration: none;
    }
}

.navbar-custom-menu {
    .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        &>li{
            height: 60px;
            position: relative;
            &.user-menu {
                border-right: 1px solid #ddd;                
            }
            &>a{
                color: #555;
                text-decoration: none;
                &.dropdown-toggle{
                    padding: 0px 20px;
                    vertical-align: middle;
                    line-height: 60px;
                    display: block;
                    font-size: 1.1rem;
                    &:after{
                        content: inherit;
                    }
                }
            }
            &:last-child {
                &> a{
                    padding: 0px 15px;
                    vertical-align: middle;
                    line-height: 60px;
                    display: block;
                    font-size: 1.2rem;
                    text-decoration: none;
                }
            }
            &>.dropdown-menu{
                position: absolute;
                right: 0;
                left: auto;
                &>.user-body {
                    padding: 0px;
                    a {
                        padding: 9px 10px;
                        display: block;
                        color: #67757c;
                        cursor: pointer;
                        font-size: 13px;
                        z-index: 9999;
                    }
                }
            }
        }
    }
}
.main-sidebar {
    padding-top: 60px;
    min-height: ~"calc(100% - 0px)";
    width: 100%;
    /*-webkit-transition: -webkit-transform .3s ease-in-out, width .3s ease-in-out;
    -webkit-transition: width .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: width .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, width .3s ease-in-out;
    transition: transform .3s ease-in-out, width .3s ease-in-out, -webkit-transform .3s ease-in-out;*/
    .sidebar-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: #00598E;
        border-top: 1px solid rgba(226, 226, 226, .2);
        &:hover {
            overflow: visible;
        }
        &> li {
            position: relative;
            margin: 0;
            padding: 0;
            border-bottom: 1px solid rgba(226, 226, 226, .1);
            &:hover,&.active {
                color: #fff;
                background-color: #B5C035;
                border-bottom: 1px solid rgba(226, 226, 226, .1);
            }
            &> a {
                color: #fff;
                text-align: right;
                padding: 15px 25px 15px 15px;
                font-size: 14px;
                border-left: none;
                cursor: pointer;
                display: block;
                text-decoration: none;
                &.active-link,&:hover,&.active {
                    text-decoration: none;
                    background-color: #B5C035;
                }
                &> .fa-angle-left {
                    width: auto;
                    height: auto;
                    padding: 0;
                    margin-right: 10px;
                    margin-top: 3px;
                    &.arrow_block0 {
                        display: none;
                    }
                }
            }
        }
        .sidebar-submenu {
            display: none;
            list-style: none;
            padding-left: 5px;
            margin: 0 1px;
            background: #2c3b41;
        }
    }
}

.content-wrapper,
.main-footer {
  -webkit-transition: -webkit-transform .3s ease-in-out, margin .3s ease-in-out;
  -moz-transition: -moz-transform .3s ease-in-out, margin .3s ease-in-out;
  -o-transition: -o-transform .3s ease-in-out, margin .3s ease-in-out;
  transition: transform .3s ease-in-out, margin .3s ease-in-out;
  margin-left: 230px;
  z-index: 820;
  transition: margin-left 0.3s ease-in-out;
}

.content-wrapper {
    min-height: ~"calc(100% - 0px)";
    background-color: #f4f6f9;
    z-index: 800;
    padding-top: 80px;
}

.leftnav-container {
    //position: fixed !important;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;
    &.collapsed {
        display: none;
        .leftnav-sidenav {
            transition: transform .4s cubic-bezier(.25,.8,.25,1);
            transform: translate3d(-100%,0,0);
        }
    }
    .leftnav-sidenav {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 230px;
        background: #00598E;
        transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        border: 0;
        z-index: 9999 !important;
    }
}
.leftnav-tree {
    background-color: inherit;
    ul,li{
        margin-top: 0;
        margin-bottom: 0;
        list-style-type: none;
    }
    .leftnav-tree-invisible {
        display: none;
    }
    .mat-tree-node {
        color: #fff;
    }
}

/*Common Form style*/
.commmon-form{
    &.card {
        margin: 0 20px 40px;
        position: relative;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: 0;
        box-shadow: 0 0.15rem 1.75rem 0 rgba(34,39,46,.15);
        overflow: hidden;
        .card-header,.card-footer {
            display: -webkit-box;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            font-weight: 600;
            border: none;
            padding: 1rem 1.35rem;
            margin-bottom: 0;
            background-color: rgba(0,0,0,.03);
        }
        .card-header {
            color: #398bf7;
            font-size: 1rem;
        }
        .card-footer {
            font-size: 1rem;
        }
    }
}

.login-form {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    padding: 15px;
    margin: 60px 0;
    .form-group {
        .form-control {
            border-radius: 0;
        }
    }
    h5 {
        margin-bottom: 20px;
    }
}
.hub-button-delete,.hub-button-edit{
    &:focus {
        outline: 0 !important;
    }
    
}
.hub-radio-button {
    .mat-radio-label {
        margin-right: 15px;
    }
}
.mat-snack-bar-container {
    margin: 80px 20px 20px !important;
    &.primary {
        background-color:#3f51b5;
        color: #fff;
    }
    &.danger {
        background-color: #f44336;
        color: #fff;
    }
    .flex {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
}
th.mat-sort-header-sorted {
    color: black;
}
.mat-sort-header-button {
    cursor: pointer;
    &:focus {
        outline: 0;
    }
}
.mat-elevation-z8,.common-add-btn,.top-filter {
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,.1);
}
.common-add-btn {
    background-color: #fff;
    padding: 15px 20px;
    margin-bottom: 20px;
    //box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 6px 8px 1px rgba(0,0,0,.10), 0 3px 8px 2px rgba(0,0,0,.10);
    button {
        float: right;
    }
    .disp-heading {
        text-align: left;
        display: inline-block;
        margin: 0;
        padding: 5px 0;
        color: rgba(0,0,0,.54);
    }
}
.top-filter {
    background-color: #fff;
    padding: 15px 20px 5px;
    margin-bottom: 20px;
    //box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 6px 8px 1px rgba(0, 0, 0, 0.1), 0 3px 8px 2px rgba(0, 0, 0, 0.1);
    .filter-form {
      margin-right: 20px;
    }
    form {
        display: inline-block;
        float:left;
    }
    .rightbtn {
        float: right;
        margin: 12px 0 0;
    }
    button {
        margin-right: 20px;
    }
}
.kpi-container {
    //overflow: auto;
    //position: relative;
    width: 100%;
    margin-bottom: 20px;
    //max-height: 500px;
    tr{
        td {
            //min-width: 60px;
            //max-width: 160px;
            padding: 0 7px 0 2px;
        }
        th{
            //min-width: 60px;
            //max-width: 160px;
            padding: 0 7px 0 2px;
         }
    }
}
.mat-select-panel {
    &::-webkit-scrollbar
    {
        width: 6px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb
    {
        background-color: #555;
    }
}
.jumbotron {
    background-color: inherit !important;
}
.ag-theme-alpine {
    .ag-root-wrapper {
        border: 0;
        border-radius: 0;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
    }
    .ag-header {
        background-color: #fff;
        border-bottom: 1px solid #babfc7;
    }
    input[class^=ag-]:not([type]),input[class^=ag-][type=date],input[class^=ag-][type=datetime-local],input[class^=ag-][type=number],
    input[class^=ag-][type=tel],input[class^=ag-][type=text],textarea[class^=ag-] {
        border-radius: 0;
    }
    .ag-picker-field-wrapper {
        border-radius: 0;
    }
    .ag-menu {
        border-radius: 0;
    }
    .ag-filter-toolpanel-header,.ag-filter-toolpanel-search,.ag-header-row,.ag-panel-title-bar-title,.ag-status-bar {
        color: #555;
    }
    .ag-overlay-loading-center {
        border-radius: 0;
    }
    
}
.overlay {
    .loading-text {
        border: 1px solid #babfc7;
        background: #fff;
        border-radius: 0;
        box-shadow: 0 1px 4px 1px rgba(186,191,199,.4);
        padding: 0;
        .loading-center {
            margin: 0;
            padding: 6px 8px;
            font-size: 12px;
            display: inline-block;
            vertical-align: middle;
            color: #000;
        }
    }
}

.pareto-grid {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    &:hover {
        .pareto-btn {
            display: block;
            -webkit-animation-name: fadeInLeft;
            animation-name: fadeInLeft;
            animation-duration: 0.45s;
        }
    }
    .pareto-btn {
        position: absolute;
        left: 0;
        z-index: 99;
        padding: 6px 0;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
        background-color: #f4f6f9;
        display: none;
        button {
            padding: 0 10px;
            box-shadow: none !important;
            background-color: #f4f6f9;
        }
    }
}

.mat-checkbox-checked.mat-accent,.mat-checkbox-indeterminate.mat-accent {
    .mat-checkbox-background {
        background-color: #00598E;
    }
}

.confirmation-box {
    min-width: 400px;
    h4 {
        text-align: left;
        padding: 10px 15px;
        border-bottom: 1px solid #e9ecef;
        font-size: 16px;
        margin: 0;
    }
    .confirmation-box-cont {
        padding: 20px 15px;
        padding-right: 30px;
        margin-bottom: 15px;
        p {
            margin: 0;
        }
    }
    .confirmation-box-btn {
        padding: 0 15px 15px;
        text-align: right;
        button {
            margin-left: 15px;
        }
    }
}

.mat-dialog-container {
    padding: 0 !important;
}
.dialog-box-inner {
    overflow: hidden;
    .dialog-box-header {
        border-bottom: 1px solid #e9ecef;
        padding: 10px 20px;
        h1 {
            margin: 0;
            font-size: 18px;
            color: #555;
        }
    }
    .dialog-box-body {
        padding: 15px 20px;
        .mat-dialog-content {
            margin: 0;
            padding: 0;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
    .dialog-box-footer {
        padding: 10px 20px;
        border-top: 1px solid #e9ecef;
        button {
            margin-right: 15px;
        }
    }
    .mat-dialog-actions {
        margin: 0;
    }    
}

.p-grid-main {
    background-color: #fff;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    .ui-table-caption {
        &.ui-widget-header {
            background-color: #fff;
            border-left: 0;
            border-right: 0;
            border-top: 1px solid #f4f4f4;
            .pi-search {
                color: #555;
            }
            input[type="text"] {
                padding: 1px 5px;
                font-size: 13px;
                margin-left: 5px;
            }
        }
    }
    .p-grid {
        background-color: #fff;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
        border: 0;
        width: 100%;
        .ui-table {
            .ui-table-scrollable-wrapper {
                overflow-x: scroll;
                .ui-table-scrollable-view {
                    width: 152%;
                    .ui-table-scrollable-body {
                        min-height: 400px;
                    }
                }
            }
            .ui-table-thead {
                &> tr {
                    &.filter-grid {
                        th {
                            input[type="text"] {
                                width: 100%;
                            }
                        }
                    }
                    &> th {
                        border-top: 1px solid #babfc7;
                        border-left: 0;
                        border-right: 0;
                        background-color: #fff;
                        border-bottom: 1px solid #babfc7;
                        color: #555;
                        font-size: 12px;
                        padding: 13px 5px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis; 
                        &:hover {
                            background-color: #fff;
                        }
                        &:focus {
                            box-shadow: none;
                        }
                    }
                }
            }
            .ui-table-tbody {
                &> tr {
                    &> td {
                        border-top: 1px solid #babfc7;
                        border-left: 0;
                        border-right: 0;
                        border-bottom: 1px solid #babfc7;
                        color: #181d1f;
                        font-size: 13px;
                        padding: 0 5px;
                        /*text-overflow: ellipsis;
                        white-space: nowrap;*/
                        height: 40px;
                        .cont-output {
                            /*text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;*/
                            word-break: break-word;
                            display: block;
                            width: 100%;                            
                        }
                        .ui-dropdown {
                            width: 100%;
                            min-width: 100%;
                        }
                    }
                }
            }
            
        }
    }
    .ui-paginator{
        .ui-paginator-pages{
            .ui-paginator-page {
                &.ui-state-active {
                    background-color: #00598E;
                }
                &:focus {
                    box-shadow: none;
                }
            }
        }
    }
    .ui-dropdown-panel {
        .ui-dropdown-items {
            .ui-dropdown-item {
                &.ui-state-highlight {
                    background-color: #00598E;
                }                
            }
            .ui-dropdown-item-group {
                &.ui-state-highlight {
                    background-color: #00598E;
                }     
            }
        }
    }
    .ui-dropdown {
        &:not(.ui-state-disabled).ui-state-focus {
            box-shadow: 0 0 0 0.2em rgba(0, 89, 142, 0.4);
            border-color: #00598E;
        }
        .ui-dropdown-label-container {
            width: 100%;
            .ui-dropdown-label {
                overflow: hidden;
                width: 100%;
            }
        }
    }
    .ui-chkbox-box {
        &.ui-widget {
            &.ui-state-default {
                &.ui-state-active {
                    border-color: #00598E;
                    background-color: #00598E;
                }
            }
        }
    }
}

.p-grid-main {
    .p-grid {
        .ui-table {
            .ui-table-thead,.ui-table-tbody {
                &> tr {
                    &> th,&> td {
                        &.kpI_ID,&.display_ID {
                            white-space: nowrap !important;
                            flex: 0 0 9% !important;
                            width: 9% !important;
                            max-width: 90px;
                        }
                        &.section,&.function_Process,&.sub_Process,&.higher_Lower,&.critical,&.periods,
                        &.uom,&.query_Level,&.aggregate,&.status,&.display_Decimal,&.round_Off {
                            flex: 0 0 12% !important;
                            width: 12% !important;
                            max-width: 120px;
                        }
                        &.kpI_Category  {
                            flex: 0 0 12% !important;
                            width: 12% !important;
                            max-width: 120px;
                        }
                        &.kpi {
                            flex: 0 0 27% !important;
                            width: 27% !important;
                            max-width: 320px;
                        }
                        &.ui-state-error {
                            background-color: rgba(255, 5, 0, 0.1);
                        }
                    }
                }
            }
            .ui-table-tbody {
                &> tr {                    
                    &> td {
                        &.section,&.function_Process,&.sub_Process,&.higher_Lower,&.critical,&.periods,
                        &.uom,&.query_Level,&.aggregate,&.status {
                            flex: 0 0 12% !important;
                            width: 12% !important;
                            max-width: 120px;
                        }
                        &.kpI_Category {
                            flex: 0 0 12% !important;
                            width: 12% !important;
                            max-width: 120px;
                        }
                        &.kpi {
                            flex: 0 0 27% !important;
                            width: 27% !important;
                            max-width: 320px;
                        }
                        &.ui-state-error {
                            background-color: rgba(255, 5, 0, 0.1);
                        }
                    }
                }
            }
        }
    }
}
.p-grid-users {
    .p-grid {
        .ui-table {
            .ui-table-scrollable-wrapper {
                .ui-table-scrollable-view {
                    width: 100%;
                }
            }
            .ui-table-thead,.ui-table-tbody {
                &> tr {
                    &> th,&> td {
                        &.userID,&.action {
                            white-space: nowrap !important;
                            flex: 0 0 9% !important;
                            width: 9% !important;
                            max-width: 90px;
                        }
                        &.userName,&.hubName,&.status{
                            flex: 0 0 12% !important;
                            width: 12% !important;
                            max-width: 120px;
                        }
                        &.userEmailId,&.userRoleName {
                            flex: 0 0 18% !important;
                            width: 18% !important;
                            max-width: 280px;
                        }
                    }
                }
            }
        }
    }
}
.p-grid-employee {
    .p-grid {
        .ui-table {
            .ui-table-scrollable-wrapper {
                .ui-table-scrollable-view {
                    width: auto;
                    .ui-table-scrollable-body {
                        min-height: 180px;
                    }
                }
            }
            .ui-table-thead,.ui-table-tbody {
                &> tr {
                    &> th,&> td {
                       /* &.employee_ID,&.report_Date,&.location,&.cost_Center_ID,
                         &.age_Group,&.tenure_Category_Position,&.compensation_Grade {
                            white-space: nowrap !important;
                            flex: 0 0 9% !important;
                            width: 9% !important;
                            max-width: 90px;
                        }
                        &.location_Address_Country,&.location_Address_City,&.cF_Location_Hierarchy_Geographical,
                        &.job_Family                        
                         {
                            white-space: nowrap !important;
                            flex: 0 0 12% !important;
                            width: 12% !important;
                            max-width: 120px;
                        }
                        &.cost_Center_Name,&.sO_Name,&.sO_Level_Two,&.sO_Level_Three,&.sO_Level_Four,
                        &.function_Details,&.job_Family_Group,&.job_Profile,&.job_Title {
                            flex: 0 0 19% !important;
                            width: 19% !important;
                            max-width: 280px;
                        }*/
                    }
                }
            }
            .ui-table-tbody {
                &> tr {
                    &> td {
                        padding: 4px 5px;
                    }
                }
            }
        }
    }
}
.p-grid-scoping {
    .p-grid {
        .ui-table {
            .ui-table-scrollable-wrapper {
                .ui-table-scrollable-view {
                    width: 100%;
                    .ui-table-scrollable-body {
                        min-height: 180px;
                    }
                }
            }
            .ui-table-thead,.ui-table-tbody {
                &> tr {
                    &> th,&> td {
                        &.employee_ID,&.orig_Employee_ID,&.stage,&.status,
                         &.date {
                            white-space: nowrap !important;
                            flex: 0 0 9% !important;
                            width: 9% !important;
                            max-width: 90px;
                        }
                        &.transition_Journey_Code,&.transition_Wave_Code{
                            flex: 0 0 12% !important;
                            width: 12% !important;
                            max-width: 120px;
                        }
                        &.file_Details,&.remarks {
                            flex: 0 0 18% !important;
                            width: 18% !important;
                            max-width: 280px;
                        }
                    }
                }
            }
            .ui-table-tbody {
                &> tr {
                    &> td {
                        padding: 4px 5px;
                    }
                }
            }
        }
    }
}
.funnel-display-form {
    .ui-button-raised {
        .ui-button-text {
            display: none;
        }
    }
}
.p-grid-error {
    .p-grid {
        .ui-table {
            .ui-table-scrollable-wrapper {
                .ui-table-scrollable-view {
                    width: 100%;
                }
            }
            .ui-table-thead,.ui-table-tbody {
                &> tr {
                    &> th,&> td {
                        &.logged,&.level,&.logger,&.email {
                            white-space: nowrap !important;
                            flex: 0 0 9% !important;
                            width: 9% !important;
                            max-width: 90px;
                        }
                        &.message,&.callsite,&.exception {
                            flex: 0 0 18% !important;
                            width: 18% !important;
                            max-width: 280px;
                        }
                    }
                }
            }
        }
    }
}
p-editor {
    .ui-widget{
        &.ui-editor-container {
            &.ui-corner-all {
                background-color: #fff;
                .ui-editor-content {
                    font-size: 13px;
                    p {
                        font-size: 12px;
                        color: #555;
                    }
                }
            }            
        }
    }
}

.mpr-menu-item {
    &.mat-menu-item {
        &:hover {
            text-decoration: none;
            color: rgba(0,0,0,.87);
        }
    }
}
.non-market {
    text-align: right;
    color: #555;
    font-size: 0.8em;
    vertical-align: middle;
    &.non-market-extraspace {
        margin-bottom: 20px;
    }
}
.required-display-message {
    display: inline-block;
    float: right;
    .mesg {
        margin: 0;
        color: #555;
        padding-top: 5px;
        span {
            color: #000;
            font-weight: bold;
        }
    }
}

.ql-editor {
    background-color: #fff;
    p,li {
        font-size: 0.9em;
        color: #000;
    }
}

/* Animation Support */
.fadeInUp {
    animation-name: fadeInUp;
    animation-duration: 0.45s;
    animation-fill-mode: both;
}
  
@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
  
@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}



  