
<mat-drawer-container class="leftnav-container" autosize [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }">
    <mat-drawer #drawer class="leftnav-sidenav" opened fixedInViewport="true" fixedTopGap ="0" fixedBottomGap="0" mode="side"> 
      <aside class="main-sidebar">
        <ul class="sidebar-menu"> 
            <li  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a  routerLink="/" >
                  <!-- <i class="{{menulists.icon}}  pr-2"></i>  -->
                  <span>Dashboard</span>        
                  <i class="fa fa-angle-right arrow_block pl-2"></i>
                </a>
            </li>
            <li  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="isAdmin">
                <a  routerLink="/user" >
                  <span>User</span>        
                  <i class="fa fa-angle-right arrow_block pl-2"></i>
                </a>
            </li> 
            <li  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="isAdmin">
                <a  routerLink="/role" >
                  <span>Role</span>        
                  <i class="fa fa-angle-right arrow_block pl-2"></i>
                </a>
            </li>           
          <!-- <li *ngFor="let menulists of menulist; let i = index" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a  routerLink="{{menulists.urlPath}}"  (click)='addClass = true'>
              <span>{{menulists.screenName}}</span>        
              <i class="fa fa-angle-right arrow_block{{menulists.submenu?.length}} pl-2"></i>
            </a>
            <ul class="sidebar-submenu" >
              <li  routerLinkActive="active"  *ngFor="let subitem of menulists.submenu; let i = index">
                <a  routerLink="/{{subitem.urlPath}}" (click)='addClass = true'><i class="far fa-circle pr-2"></i> {{subitem.screenName}}</a>
              </li>        
            </ul> 
          </li>  -->
          
        </ul>
      </aside>
    </mat-drawer> 
  
  </mat-drawer-container>
  
  <header class="main-header">
      <a [routerLink]="['/']" class="logo" [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }">
        <img src="assets/img/philips_logo.png" alt="Logo">
      </a>  
      <nav class="navbar navbar-static-top">
        <div class="DigitalPR_logo">
          <div (click)="toggleCollapsed()" [ngClass]="{ collapsed: collapsed }" class="toggle-button">
            <!-- <i class="fa fa-fw fa-angle-double-left"></i> -->
            <i class="fa fa-fw fa-angle-double-{{ collapsed ? 'right' : 'left' }}"></i>
            <!-- <span>{{ 'Collapse Sidebar' | translate }}</span> -->
          </div>
          <a [routerLink]="['/']" class="DigitalPR_logo_inner">
            Funnel
          </a>
          
        </div>
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li class="dropdown user user-menu" *ngIf="currentUser">
              <a [routerLink]="['/']" class="dropdown-toggle" style="display: none;">
                {{currentUser.userName}}
              </a>
              <!-- <ul class="dropdown-menu scale-up">
                <li class="user-body">
                  <div class="row no-gutters">
                    <div class="col-12 text-left">
                      <a href="#"><i class="ion ion-person"></i> My Profile</a>
                    </div>
                    <div class="col-12 text-left">
                      <a href="#"><i class="ion ion-email-unread"></i> Inbox</a>
                    </div>
                    <div class="col-12 text-left">
                      <a href="#"><i class="ion ion-settings"></i> Setting</a>
                    </div>
                    <div class="col-12 text-left">
                      <a (click)="logoutAction()"><i class="fa fa-power-off"></i> Logout </a>
                    </div>
                  </div>
                </li>
              </ul> -->
            </li>
            <li>           
              <a (click)="logoutAction()" style="cursor: pointer;"><i class="fa fa-refresh" aria-hidden="true"></i>  </a>          
            </li>
    
          </ul>
        </div>
      </nav>
    </header>
    
    
    
    
    