<div class="dialog-box-inner">
  <div class="dialog-box-header">
    <h1 mat-dialog-title>{{action}} User</h1>
  </div>
  <div class="dialog-box-body">
    <div mat-dialog-content>
      <div *ngIf="action != 'Delete'; else elseTemplate">
        <form [formGroup]="addForm" (ngSubmit)="onFormSubmit(addForm.value)">
          <p style="display: none;">
            <mat-form-field class="example-full-width">  
              <input formControlName="sNo" disabled matInput placeholder="S No">  
            </mat-form-field>  
          </p>
          <p style="display: none;">
            <mat-form-field class="example-full-width">  
              <input formControlName="userID" name="userID" matInput placeholder="User ID">  
            </mat-form-field>  
            <mat-error>  
                <span *ngIf="!addForm.get('userID').valid && addForm.get('userID').touched">Please enter User ID !!!</span>  
            </mat-error>  
          </p>
          <p>
            <mat-form-field class="example-full-width">  
              <input formControlName="userName" name="userName" matInput placeholder="User Name*">  
            </mat-form-field>  
            <mat-error>  
                <span *ngIf="!addForm.get('userName').valid && addForm.get('userName').touched">Please enter User Name !!!</span>  
            </mat-error>
          </p>
          <p>
            <mat-form-field class="example-full-width">
              <mat-label>User Role Name*</mat-label>
              <mat-select name="userRoleName" formControlName="userRoleName"  placeholder="User Role Name*" >
                <mat-option *ngFor="let role of role_level; let i = index" [value]="role.roleName" >{{ role.roleName }}</mat-option>
              </mat-select>  
            </mat-form-field>  
            <mat-error>  
                <span *ngIf="!addForm.get('userRoleName').valid && addForm.get('userRoleName').touched">Please enter User Role Name !!!</span>  
            </mat-error>
          </p>
          <p>
            <mat-form-field class="example-full-width">  
              <input type="email" formControlName="userEmailId" matInput name="userEmailId" placeholder="User Email ID*">  
            </mat-form-field>  
            <mat-error>
              <span *ngIf="!addForm.get('userEmailId').valid && addForm.get('userEmailId').touched">
                <span *ngIf="addForm.get('userEmailId').errors.required">Please enter User Email ID!!!</span>
                <span *ngIf="addForm.get('userEmailId').errors.pattern">Please enter Valid Email ID!!!</span>  
              </span>                 
            </mat-error>
          </p>
          
          <p>
            <label id="example-radio-group-label">Status*</label>
            <mat-radio-group formControlName="status"  color="primary" class="md-primary example-radio-group">
               <mat-radio-button class="hub-radio-button" *ngFor="let Status of activeStatus" [value]="Status"  >
                {{Status}}
              </mat-radio-button>
            </mat-radio-group>  
            <mat-error>  
                <span *ngIf="!addForm.get('status').valid && addForm.get('status').touched">Please select any gender !!!</span>  
            </mat-error>  
          </p>
      </form>
      </div>
      <ng-template #elseTemplate>
        Sure to delete <b>{{local_data.userEmailId}}</b>?
      </ng-template>
    </div>
  </div>
  <div class="dialog-box-footer">
    <button mat-button (click)="doAction()" mat-flat-button color="primary" [disabled]="!addForm.valid">{{action}}</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
    <div class="required-display-message" *ngIf="action != 'Delete'">
      <p class="mesg"><span>*</span> Mandatory</p>
    </div>
  </div>
</div>
