<div class="wrapper collapsed" [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }">
    <app-header (collapsedEvent)="collapsedEvent($event)"></app-header>
    <router-outlet></router-outlet>  
</div>
  
  