<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="common-add-btn fadeInUp">
                    <h5 class="disp-heading">Role</h5>
                </div>
                <div class="fadeInUp">
                    <table mat-table [dataSource]="dataSource" #mytable class="mat-elevation-z8 table-striped table-sm fadeInUp">
            
                        <!--- Note that these columns can be defined in any order.
                            The actual rendered columns are set as a property on the row definition" -->
    
                        <ng-container matColumnDef="roleID">
                            <th mat-header-cell *matHeaderCellDef> Role ID </th>
                            <td mat-cell *matCellDef="let element"> {{element.roleID}} </td>
                        </ng-container>
    
                        <ng-container matColumnDef="roleName">
                            <th mat-header-cell *matHeaderCellDef> Role Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.roleName}} </td>
                        </ng-container>
                        <!-- <ng-container matColumnDef="roles_Resp">
                            <th mat-header-cell *matHeaderCellDef> Roles and Resp </th>
                            <td mat-cell *matCellDef="let element"> {{element.roles_Resp}} </td>
                        </ng-container> -->
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef> Status </th>
                            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                        </ng-container>
                    
                        <!-- Action Column -->
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef> Action </th>
                                <td mat-cell *matCellDef="let element" class="action-link"> 
                                <button (click)="openDialog('Update',element)" class="hub-button-edit" mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button (click)="openDialog('Delete',element)" class="hub-button-delete" mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>                
                </div>                
            </div>
        </div>
    </div>    
</div>